body {
  background-color: #202020;
}
p {
  margin: 0;
}
.container {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  h1 {
    text-align: center;
  }
  .list {
    margin: 50px;
  }

  .content {
    display: flex;
    justify-content: center;
    .btn-list {
      padding: 0 0 0 20px;
      li {
        border: none;
        padding: 3px;
      }
    }
    ul,
    ol {
      color: #ffffff;
    }
    ol {
      margin: 0;
      padding: 0 10px;
      display: inline-block;

      li {
        padding: 2px;
        height: 30px;
        margin: 5px 0;
        border: 1px solid #000;
        text-align: right;
        cursor: pointer;
        &:link {
          color: white;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0 10px;
      display: inline-block;

      li {
        padding: 2px;
        height: 30px;
        margin: 5px 0;
        border: 1px solid #000;
        text-align: right;
        cursor: pointer;
        &:link {
          color: white;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.hidden-p {
  opacity: 0;
}

button {
  cursor: pointer;
}

.fixed-checkbox {
  position: fixed;
  top: 50px;
  right: 30px;
}

label {
  color: #ffffff;
}

.inline {
  display: inline-block;
}

.invalidValue {
  font-size: 1.2rem;
  color: red;
  display: inline;
}
.nav {
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 5px;
      border: 1px #ffffff solid;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
